/* nav bar dropdown design */

.dropdown-center {
    margin: auto;
}

#home {
    text-decoration: none;
    color: white;
}

/* font */

p, h1, h2, h3, h4, h5, h6, li {
    font-family: 'Quicksand', sans-serif;
}

/* footer */

#footer-layout {
    text-align: center;
}

/* contact page */

.contact-us {
    text-align: center;
    padding: 40px 0px 40px 0px;
    width: 400px;
    margin: 0 auto;
}

.contact-form {
    text-align: center;
}

.contact-form, .reflection li{
    font-family: 'Quicksand', sans-serif;
}

.box {
    margin: 10px 0px 20px 0px;
    border: 1px solid black;
    border-radius: 5px;
    width: 270px;
}

#inquiry {
    border-radius: 5px;
}
