/* nav bar dropdown design */

.dropdown-center {
    margin: auto;
}

#home {
    text-decoration: none;
    color: white;
}

/* font */

p, h1, h2, h3, h4, h5, h6, li {
    font-family: 'Quicksand', sans-serif;
}

/* footer */

#footer-layout {
    text-align: center;
}